<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.alpha12.ecarnet">
    <uses-permission android:name='android.permission.WAKE_LOCK'/>

    <application
        android:name=".GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".adapters.NotificationPublisher" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".activities.FillUpActivity"
            android:label="@string/title_activity_fill_up"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddOperationActivity"
            android:label="@string/title_activity_add_operation"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CarsMgmtActivity"
            android:label="@string/title_activity_cars_management"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddMemoActivity"
            android:label="@string/title_fragment_memos"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddUserActivity"
            android:label="@string/title_activity_add_user"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.IncompleteConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.AddCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SearchCarActivity"
            android:label="@string/title_activity_add_car"
            android:parentActivityName=".activities.AddCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.AddCarActivity" />
        </activity>
        <activity
            android:name=".activities.CustomizeCarActivity"
            android:label="@string/title_activity_customize_car"
            android:parentActivityName=".activities.SearchCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.alpha12.ecarnet.activities.SearchCarActivity" />
        </activity>
    </application>

</manifest>
